:root {
  --sidebar-tab-height: 32px;
  --sidebar-tab-width: 24px;
  --color-border-highlight: #ffffff;
  --color-shadow-primary:  #9fdcff;
  --color-text-light-highlight: white;
  --color-border-highlight-alt: #9fdcff;
  --color-border-light-primary: #9fdcff;
  --color-shadow-highlight: white;
  --color-text-light-primary: white;
}

:root {
  --text-color: #38578d;
  --background-color: #f1f1f1;
  --main-heading-font: 'SFDistant Galaxy';
  --alt-heading-font: 'SFDistant Galaxy Outline';
  --main-font: 'Verdana';
}

@font-face {
  font-family: 'SFDistant Galaxy';
  src: url("../type/SFDistantGalaxy.woff2") format("woff2"), url("../type/SFDistantGalaxy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFDistant Galaxy Alternate';
  src: url("../type/SFDistantGalaxyAlternate.woff2") format("woff2"), url("../type/SFDistantGalaxyAlternate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFDistant Galaxy Outline';
  src: url("../type/SFDistantGalaxyOutline.woff2") format("woff2"), url("../type/SFDistantGalaxyOutline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes artifact-animation {
  from {
    bottom: -20%;
    opacity: 0.3;
  }
  to {
    bottom: 100%;
    opacity: 0.45;
  }
}

@keyframes artifact-animation {
  from {
    bottom: -20%;
    opacity: 0.3;
  }
  to {
    bottom: 100%;
    opacity: 0.45;
  }
}

@-webkit-keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    -o-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
    transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  15% {
    opacity: 0;
  }
  100% {
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    -o-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
  }
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    -o-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
    -o-transition-duration: 0.7s, 0.7s, 0.15s;
    transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  15% {
    opacity: 0;
  }
  100% {
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    -o-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
  }
}

@-webkit-keyframes fadeMeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeMeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeMeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeMeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.swsaga.sheet {
  scrollbar-color: #2694d4 #1d6e9c;
}

.swsaga.sheet input[type="text"],
.swsaga.sheet input[type="number"],
.swsaga.sheet input[type="password"],
.swsaga.sheet input[type="date"],
.swsaga.sheet input[type="time"],
.swsaga.sheet select,
.swsaga.sheet textarea {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  width: 100%;
  line-height: 180%;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  height: 100%;
  margin: 0;
}

.swsaga.sheet p,
.swsaga.sheet span,
.swsaga.sheet button,
.swsaga.sheet a,
.swsaga.sheet input,
.swsaga.sheet select,
.swsaga.sheet textarea,
.swsaga.sheet th,
.swsaga.sheet td {
  font-family: "Verdana";
  color: var(--text-color);
}

.swsaga.sheet h5 {
  font-size: 1.25rem;
  letter-spacing: .75px;
  margin: 0;
  font-family: var(--main-heading-font);
  color: var(--text-color);
}

.swsaga.sheet ::-webkit-scrollbar-thumb {
  border: none;
  background: #2694d4;
  border-radius: none;
}

.swsaga.sheet ::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 1px #1d6e9c inset;
  box-shadow: 0 0 1px #1d6e9c inset;
  background-color: #1d6e9c;
}

.swsaga.sheet ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

.swsaga.sheet ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

.swsaga.sheet :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

.swsaga.sheet ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

.swsaga.sheet ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

.swsaga.sheet :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color);
}

.swsaga.sheet ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color);
}

.swsaga.sheet a:hover {
  text-shadow: none;
}

.swsaga.sheet label, .swsaga.sheet h4 {
  font-family: var(--main-heading-font);
  letter-spacing: 1px;
}

.swsaga.sheet h4 {
  margin-bottom: 0;
}

.swsaga.sheet label {
  color: var(--text-color);
}

.swsaga.sheet .window-content {
  background: var(--background-color);
  padding: 1rem;
}

.swsaga.sheet h4.window-title {
  color: white;
}

.swsaga.sheet form.weapon .item-container .label-container {
  margin: 0.5rem;
}

.swsaga.sheet .label-container {
  position: relative;
  border: solid 1px var(--text-color);
  border-radius: 3px;
}

.swsaga.sheet .label-container.abilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swsaga.sheet .label-container.abilities > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  width: initial;
  text-align: center;
}

.swsaga.sheet .label-container label {
  position: absolute;
  line-height: 100%;
  top: -6px;
  left: -2px;
  background: var(--background-color);
  font-size: 0.7rem;
}

.swsaga.sheet .pop-up {
  position: absolute;
  top: 20px;
  width: 400px;
  height: 450px;
}

.swsaga.sheet .hidden {
  display: none;
}

.swsaga.sheet > header a {
  color: white;
}

.highlight {
  -webkit-box-shadow: 2px 2px 0px #156594;
  box-shadow: 2px 2px 0px #156594;
}

.actor.swsaga.sheet form.character {
  width: 100%;
}

.actor.swsaga.sheet form main section.character-sheet > .container {
  display: grid;
  grid-template-rows: 15px 150px 500px auto auto;
  grid-template-columns: 75px 75px repeat(10, 1fr);
  gap: .5rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container header {
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  display: grid;
  gap: .5rem;
  grid-template-rows: 150px auto;
  grid-template-columns: calc(150px + .5rem) auto 50px 200px;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .row-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0.25rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container header img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 3px;
  margin: 0;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container {
  display: grid;
  gap: .5rem;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  height: 100%;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:first-of-type {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:first-of-type label[for=speciesName] ~ a {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: block;
  height: 100%;
  line-height: 160%;
  /* background: none; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  width: 100%;
  line-height: 200%;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  height: 100%;
  margin: 0;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:first-of-type .class-select {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:last-of-type {
  grid-row: 1 / 2;
  grid-column: 3 / 5;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:last-of-type .hitpoints {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  text-align: center;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:last-of-type .hitpoints input {
  height: 100%;
  font-size: 3.25rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:last-of-type .shieldReduction {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:last-of-type .condition {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:last-of-type .damageReduction {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.actor.swsaga.sheet form main section.character-sheet > .container header .sub-container:last-of-type .threshold {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.actor.swsaga.sheet form main section.character-sheet > .container header:first-of-type .character-name {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.actor.swsaga.sheet form main section.character-sheet > .container header:first-of-type .character-level {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.actor.swsaga.sheet form main section.character-sheet > .container .stat-block {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.actor.swsaga.sheet form main section.character-sheet > .container .stat-block span {
  font-size: 1rem;
  background-color: var(--background-color);
  border-radius: 3px;
  line-height: 200%;
  height: 75%;
  width: 45px;
  z-index: 2;
  cursor: pointer;
}

.actor.swsaga.sheet form main section.character-sheet > .container .stat-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  height: 45px;
}

.actor.swsaga.sheet form main section.character-sheet > .container .stat-block div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actor.swsaga.sheet form main section.character-sheet > .container .stat-block div > div > div > span {
  background-color: var(--text-color);
  color: white;
}

.actor.swsaga.sheet form main section.character-sheet > .container .stat-block div > div > div > span:hover {
  background-color: white;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page {
  grid-row: 3 / 4;
  grid-column: 3 / 13;
  border: solid 1px var(--text-color);
  border-radius: 3px;
  padding: 0 1rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page nav.tabs {
  border-top: none;
  border-bottom-color: var(--text-color);
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page nav.tabs .item.active {
  text-shadow: 0 0 10px #2694d4;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page nav.tabs .item:hover {
  text-shadow: 0 0 10px #2694d4;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .tab.active p {
  margin: 4px 0;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body {
  height: calc(100% - 38px);
  overflow: hidden;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .tab {
  padding-top: 1rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .tab h5 {
  margin-bottom: .5rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .skills {
  height: 100%;
  overflow-y: scroll;
  font-size: .75rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .skills table {
  border: none;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .skills table th {
  text-align: left;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .skills table tr:nth-child(even) {
  border: 1px solid var(--background-color);
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .skills table tr:nth-child(odd) {
  border: 1px solid var(--background-color);
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .skills .skill-roller {
  display: block;
  width: 40px;
  background-color: var(--text-color);
  color: white;
  cursor: pointer;
  padding: .25rem;
  border-radius: 3px;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .skills .skill-roller:hover {
  background-color: white;
  color: var(--text-color);
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .force {
  border: 1px solid var(--background-color);
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .force .force-suite {
  border: 1px solid var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: .5rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .force .force-suite button {
  border: 2px solid var(--text-color);
  background-color: transparent;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .force .force-suite button:hover {
  -webkit-box-shadow: 0 0 10px #2694d4;
  box-shadow: 0 0 10px #2694d4;
  border: 2px solid var(--text-color);
  background-color: transparent;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio {
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: .75rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio.active {
  overflow-y: auto;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .75rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio > div .label-container {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio .classes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio .classes.row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio .classes.row-item .item-edit {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio .classes.row-item .item-delete {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  text-align: center;
  -webkit-transition: background-color .2s ease, color .2s ease;
  -o-transition: background-color .2s ease, color .2s ease;
  transition: background-color .2s ease, color .2s ease;
}

.actor.swsaga.sheet form main section.character-sheet > .container .character-page .sheet-body .bio .classes.row-item .item-delete:hover {
  background-color: #156594;
  color: white;
}

.actor.swsaga.sheet form main section.character-sheet > .container .current-equipment {
  grid-row: 4 / 5;
  grid-column: 1 / 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  min-height: 180px;
}

.actor.swsaga.sheet form main section.character-sheet > .container .current-equipment .label-container {
  padding: 1rem;
  width: 100%;
}

.actor.swsaga.sheet form main section.character-sheet > .container .current-equipment .label-container #equippedWeapon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.actor.swsaga.sheet form main section.character-sheet > .container .current-equipment .label-container #equippedClothing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.actor.swsaga.sheet form main section.character-sheet > .container .feats-talents {
  grid-row: 5 / 6;
  grid-column: 1 / 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  min-height: 180px;
}

.actor.swsaga.sheet form main section.character-sheet > .container .feats-talents > div {
  min-height: 80px;
  padding: 1rem;
  width: 50%;
}

.actor.swsaga.sheet form main section.character-sheet > .container .feats-talents > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: .5rem;
}

.actor.swsaga.sheet form main section.character-sheet > .container .feats-talents > div > div > div {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.item.swsaga.sheet form {
  display: grid;
  grid-template-columns: 255px 75px auto;
  grid-template-rows: 75px 135px 135px;
  gap: 1rem;
}

.item.swsaga.sheet .window-content header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item.swsaga.sheet .to-hit, .item.swsaga.sheet .weapon-damage {
  font-family: var(--main-heading-font);
  font-size: 1.25rem;
}

.item.swsaga.sheet .to-hit span, .item.swsaga.sheet .weapon-damage span {
  font-family: var(--main-font);
  font-size: 1.25rem;
}

.item.swsaga.sheet .window-content header .header-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item.swsaga.sheet .window-content header .header-fields h5 {
  margin: 0;
}

.item.swsaga.sheet .window-content header .header-fields h5 input {
  font-size: 2.5rem;
  font-family: var(--main-heading-font);
  padding-left: 0;
}

.item.swsaga.sheet .window-content header .header-fields .label-container {
  max-width: 150px;
}

.item.swsaga.sheet .window-content header .header-fields > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: .25rem;
  width: initial;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item.swsaga.sheet .window-content header .header-fields > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .25rem;
}

.item.swsaga.sheet .window-content header .header-fields > div:first-of-type {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.item.swsaga.sheet .attack-damage {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.item.swsaga.sheet .image-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: hidden;
}

.item.swsaga.sheet .at-a-glance {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: .5rem;
}

.item.swsaga.sheet .at-a-glance div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .25rem;
}

.item.swsaga.sheet .description-fields {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.item.swsaga.sheet .description-fields .description-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: .25rem;
}

.item.swsaga.sheet .description-fields .description-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.item.swsaga.sheet .usability-details {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.item.swsaga.sheet form.class {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 30px);
}

.item.swsaga.sheet form.class header {
  grid-row: 1 / 2;
  grid-column: 1 / 13;
}

.item.swsaga.sheet form.class .image-container {
  grid-row: 2 / 5;
  grid-column: 1 / 4;
}

.item.swsaga.sheet form.class .image-container img {
  width: 100%;
  height: 100%;
}

.item.swsaga.sheet form.class .hitDice {
  grid-row: 2 / 3;
  grid-column: 4 / 6;
}

.item.swsaga.sheet form.class .startHP {
  grid-row: 2 / 3;
  grid-column: 6 / 8;
}

.item.swsaga.sheet form.class .fortBonus {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}

.item.swsaga.sheet form.class .refBonus {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}

.item.swsaga.sheet form.class .willBonus {
  grid-row: 4 / 5;
  grid-column: 6 / 7;
}

.item.swsaga.sheet form.class .forcePoints {
  grid-row: 3 / 4;
  grid-column: 6 / 8;
}

.item.swsaga.sheet form.class .baseAttack {
  grid-row: 4 / 5;
  grid-column: 7 / 8;
}

.item.swsaga.sheet form.class .startingCredits {
  grid-row: 3 / 4;
  grid-column: 4 / 6;
}

.item.swsaga.sheet form.class .description-field {
  grid-row: 2 / 5;
  grid-column: 8 / 13;
}

.item.swsaga.sheet form.class .progression {
  grid-row: 5 / 13;
  grid-column: 1 / 8;
}

.item.swsaga.sheet form.class .trained-skills {
  grid-row: 5 / 9;
  grid-column: 8 / 13;
}

.item.swsaga.sheet form.class .starting-feats {
  grid-row: 9 / 13;
  grid-column: 8 / 13;
}

.item.swsaga.sheet form.class .talent-trees {
  grid-row: 13 / 17;
  grid-column: 1 / 13;
}

.item.swsaga.sheet form.species {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 30px);
}

.item.swsaga.sheet form.species header {
  grid-row: 1 / 2;
  grid-column: 1 / 13;
}

.item.swsaga.sheet form.species .image-container {
  grid-row: 2 / 5;
  grid-column: 1 / 4;
}

.item.swsaga.sheet form.species .image-container img {
  width: 100%;
  height: 100%;
}

.item.swsaga.sheet form.species .homeworld {
  grid-row: 2 / 3;
  grid-column: 4 / 8;
}

.item.swsaga.sheet form.species .speed {
  grid-row: 3 / 4;
  grid-column: 4 / 6;
}

.item.swsaga.sheet form.species .size {
  grid-row: 3 / 4;
  grid-column: 6 / 8;
}

.item.swsaga.sheet form.species .ex_names {
  grid-row: 4 / 6;
  grid-column: 4 / 6;
}

.item.swsaga.sheet form.species .languages {
  grid-row: 4 / 6;
  grid-column: 6 / 8;
}

.item.swsaga.sheet form.species .modifiers {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
}

.item.swsaga.sheet form.species .ageGroup {
  grid-row: 6 / 7;
  grid-column: 1 / 8;
}

.item.swsaga.sheet form.species .personality {
  grid-row: 2 / 6;
  grid-column: 8 / 13;
}

.item.swsaga.sheet form.species .traits {
  grid-row: 6 / 11;
  grid-column: 8 / 13;
}

.item.swsaga.sheet form.species .species_feats {
  grid-row: 11 / 14;
  grid-column: 8 / 13;
}

.item.swsaga.sheet form.species .description {
  grid-row: 7 / 14;
  grid-column: 1 / 8;
}

.item.swsaga.sheet form.species .adventurers {
  grid-row: 14 / 17;
  grid-column: 1 / 13;
}

form.minimal-sheet {
  display: grid;
  grid-template-columns: 255px 75px auto;
  grid-template-rows: 75px 135px auto;
  gap: 1rem;
}

form.minimal-sheet header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.minimal-sheet header .header-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form.minimal-sheet header .header-extra .label-container:not(:first-of-type) {
  width: 75px;
}

form.minimal-sheet header .header-extra .label-container.prereq-field {
  width: initial;
}

form.minimal-sheet .image-container {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

form.minimal-sheet .image-container img {
  width: 100%;
  height: 100%;
}

form.minimal-sheet .description-field {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

form.forcePower.minimal-sheet .overview-field {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}

form.forcePower.minimal-sheet .description-field {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.journal-sheet .window-content {
  background: -o-repeating-linear-gradient(bottom, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), -o-repeating-linear-gradient(bottom, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background: repeating-linear-gradient(to top, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background-color: #5993d583;
  border: none;
  font-family: var(--main-font);
  scrollbar-color: #2694d4 #1d6e9c;
  border: solid 2px #a5ceff;
  -webkit-box-shadow: 0 0 12px #6c91be;
  box-shadow: 0 0 12px #6c91be;
  color: white;
}

.journal-sheet .window-content input, .journal-sheet .window-content select, .journal-sheet .window-content button, .journal-sheet .window-content span, .journal-sheet .window-content p, .journal-sheet .window-content a, .journal-sheet .window-content h1, .journal-sheet .window-content h2, .journal-sheet .window-content h3, .journal-sheet .window-content h4, .journal-sheet .window-content h5 {
  color: white;
}

.journal-sheet .window-content input, .journal-sheet .window-content select, .journal-sheet .window-content button {
  border: solid 2px #a5ceff;
  background-color: #001a3a52;
}

.swsaga.sheet .item-card {
  color: white;
  height: initial;
}

.swsaga.sheet .item-card p {
  color: white;
}

.swsaga.sheet .item-card.big {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  margin: 0;
  height: 104px;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 7px;
  -webkit-filter: drop-shadow(2px 2px 2px #a8a8a8);
  filter: drop-shadow(2px 2px 2px #a8a8a8);
}

.swsaga.sheet .item-card.big .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swsaga.sheet .item-card.big .container p {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-align: center;
  font-weight: 900;
}

.swsaga.sheet .item-card.big .container .item-name {
  margin-top: 1.25rem;
}

.swsaga.sheet .item-card.big .container > div {
  margin: 1rem 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.swsaga.sheet .item-card.big .container > div button {
  border: solid 2px white;
  border-radius: 4px;
  color: white;
  width: initial;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: .25rem;
}

.swsaga.sheet .item-card.big .container .item-detail {
  font-weight: 900;
  line-height: 16px;
  margin: 0;
}

.swsaga.sheet .item-card.big.armor-card .container div {
  margin-top: 0;
}

.swsaga.sheet .item-card.big.force-card p.item-overview {
  display: none;
  opacity: 0;
}

.swsaga.sheet .item-card.big.weapon-card:hover {
  -webkit-filter: drop-shadow(0 0 5px #B44242);
  filter: drop-shadow(0 0 5px #B44242);
  z-index: 999999;
}

.swsaga.sheet .item-card.big.armor-card:hover {
  -webkit-filter: drop-shadow(0 0 5px #257A8C);
  filter: drop-shadow(0 0 5px #257A8C);
  z-index: 999999;
}

.swsaga.sheet .item-card.big.force-card:hover {
  -webkit-filter: drop-shadow(0 0 5px #557DAB);
  filter: drop-shadow(0 0 5px #557DAB);
  z-index: 999999;
}

.swsaga.sheet .item-card.big.force-card:hover p.item-name {
  -webkit-animation-name: 'fadeMeOut';
  animation-name: 'fadeMeOut';
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: none;
}

.swsaga.sheet .item-card.big.force-card:hover p.item-overview {
  -webkit-animation-name: 'fadeMeIn';
  animation-name: 'fadeMeIn';
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: block;
}

.swsaga.sheet .item-card.big.class-card:hover {
  -webkit-filter: drop-shadow(0 0 5px #595959);
  filter: drop-shadow(0 0 5px #595959);
  z-index: 999999;
}

.swsaga.sheet .item-card.slim {
  padding: .25rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #456d9b;
  width: 45%;
  -webkit-box-shadow: 2px 2px 2px #757575;
  box-shadow: 2px 2px 2px #757575;
}

.swsaga.sheet .item-card.slim span {
  color: white;
}

.swsaga.sheet .item-card.slim:hover {
  background-color: #6997cc;
  cursor: pointer;
}

.swsaga.sheet .item-card.slim .item-delete {
  color: white;
}

.app {
  background: unset;
}

.window-app.dialog .window-content {
  background: -o-repeating-linear-gradient(bottom, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), -o-repeating-linear-gradient(bottom, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background: repeating-linear-gradient(to top, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background-color: #5993d5c5;
  border: none;
  font-family: var(--main-font);
  scrollbar-color: #2694d4 #1d6e9c;
  border: solid 2px #a5ceff;
  -webkit-box-shadow: 0 0 12px #6c91be;
  box-shadow: 0 0 12px #6c91be;
}

.window-app.dialog .window-content * {
  color: white;
}

.window-app.dialog .window-content input::-webkit-input-placeholder {
  color: white;
}

.window-app.dialog .window-content input::-moz-placeholder {
  color: white;
}

.window-app.dialog .window-content input:-ms-input-placeholder {
  color: white;
}

.window-app.dialog .window-content input::-ms-input-placeholder {
  color: white;
}

.window-app.dialog .window-content input::placeholder {
  color: white;
}

header.window-header {
  background: #001a3ab8;
  color: white;
}

#sidebar, .sidebar-popout {
  background: -o-repeating-linear-gradient(bottom, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), -o-repeating-linear-gradient(bottom, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background: repeating-linear-gradient(to top, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background-color: #5993d5c5;
  border: none;
  font-family: var(--main-font);
  scrollbar-color: #2694d4 #1d6e9c;
  border: solid 2px #a5ceff;
  -webkit-box-shadow: 0 0 12px #6c91be;
  box-shadow: 0 0 12px #6c91be;
}

#sidebar a, #sidebar p, #sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, .sidebar-popout a, .sidebar-popout p, .sidebar-popout h1, .sidebar-popout h2, .sidebar-popout h3, .sidebar-popout h4 {
  color: white;
}

#sidebar #sidebar-tabs .item, .sidebar-popout #sidebar-tabs .item {
  border-radius: 0;
}

#sidebar #settings button, .sidebar-popout #settings button {
  background: #001a3a52;
  color: white;
}

#sidebar #settings h2, .sidebar-popout #settings h2 {
  border-top-color: #a5ceff;
  border-bottom-color: #a5ceff;
}

#sidebar .directory-header button, .sidebar-popout .directory-header button {
  background: #001a3a52;
  color: white;
}

#sidebar .directory-header input[type='text'], #sidebar .directory-header .header-search input, .sidebar-popout .directory-header input[type='text'], .sidebar-popout .directory-header .header-search input {
  border: solid 1px #a5ceff;
  background: #001a3a52;
  color: white;
}

#sidebar .directory-header input[type='text']::-webkit-input-placeholder, #sidebar .directory-header .header-search input::-webkit-input-placeholder, .sidebar-popout .directory-header input[type='text']::-webkit-input-placeholder, .sidebar-popout .directory-header .header-search input::-webkit-input-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']::-moz-placeholder, #sidebar .directory-header .header-search input::-moz-placeholder, .sidebar-popout .directory-header input[type='text']::-moz-placeholder, .sidebar-popout .directory-header .header-search input::-moz-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']:-ms-input-placeholder, #sidebar .directory-header .header-search input:-ms-input-placeholder, .sidebar-popout .directory-header input[type='text']:-ms-input-placeholder, .sidebar-popout .directory-header .header-search input:-ms-input-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']::-ms-input-placeholder, #sidebar .directory-header .header-search input::-ms-input-placeholder, .sidebar-popout .directory-header input[type='text']::-ms-input-placeholder, .sidebar-popout .directory-header .header-search input::-ms-input-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']::placeholder, #sidebar .directory-header .header-search input::placeholder, .sidebar-popout .directory-header input[type='text']::placeholder, .sidebar-popout .directory-header .header-search input::placeholder {
  color: white;
}

#sidebar .sidebar-tab .chat-message, .sidebar-popout .sidebar-tab .chat-message {
  background: #001a3a52;
  border: 2px solid #6189b9 !important;
  color: white;
  margin: 10px 3px;
  -webkit-box-shadow: 0 0 12px #06679e,  0 0 6px #083047;
  box-shadow: 0 0 12px #06679e,  0 0 6px #083047;
}

#sidebar .sidebar-tab .chat-message span, #sidebar .sidebar-tab .chat-message .dice-tooltip span, #sidebar .sidebar-tab .chat-message .dice-tooltip .part-header, .sidebar-popout .sidebar-tab .chat-message span, .sidebar-popout .sidebar-tab .chat-message .dice-tooltip span, .sidebar-popout .sidebar-tab .chat-message .dice-tooltip .part-header {
  color: white;
  border-color: #a5ceff;
}

#sidebar .sidebar-tab .chat-message .dice-tooltip .dice-rolls .roll, .sidebar-popout .sidebar-tab .chat-message .dice-tooltip .dice-rolls .roll {
  color: white;
  text-shadow: 2px 2px 2px black;
  width: 36px;
  height: 36px;
  background-size: 100%;
  line-height: 34px;
}

#sidebar .sidebar-tab .chat-message h4, .sidebar-popout .sidebar-tab .chat-message h4 {
  color: white;
}

#sidebar .sidebar-tab .chat-message h4.message-sender, .sidebar-popout .sidebar-tab .chat-message h4.message-sender {
  font-family: var(--main-heading-font);
  letter-spacing: 1px;
}

#sidebar .sidebar-tab .chat-message .dice-result > *, .sidebar-popout .sidebar-tab .chat-message .dice-result > * {
  border-color: #a5ceff;
}

#sidebar .sidebar-tab #chat-controls .roll-type-select, .sidebar-popout .sidebar-tab #chat-controls .roll-type-select {
  color: white;
  background: #001a3a52;
  background-color: #001a3a52;
}

#sidebar .sidebar-tab #chat-controls .roll-type-select optgroup, .sidebar-popout .sidebar-tab #chat-controls .roll-type-select optgroup {
  background: #001a3a52;
  background-color: #001a3a52;
}

#sidebar .sidebar-tab #chat-controls .roll-type-select optgroup option, .sidebar-popout .sidebar-tab #chat-controls .roll-type-select optgroup option {
  background: #001a3a52;
  background-color: #001a3a52;
}

#sidebar .sidebar-tab #chat-form textarea, .sidebar-popout .sidebar-tab #chat-form textarea {
  background: none;
  background-color: #5993d583;
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-16);
}

#sidebar .sidebar-tab #chat-form textarea:focus, .sidebar-popout .sidebar-tab #chat-form textarea:focus {
  -webkit-box-shadow: 0 0 12px #06679e,  0 0 6px #a0dcff;
  box-shadow: 0 0 12px #06679e,  0 0 6px #a0dcff;
  border-color: #a5ceff;
}

#sidebar #combat #combat-round .encounters a, #sidebar #combat #combat-round .encounters h4, .sidebar-popout #combat #combat-round .encounters a, .sidebar-popout #combat #combat-round .encounters h4 {
  color: white;
}

#sidebar #combat li.combatant .token-name .combatant-control, .sidebar-popout #combat li.combatant .token-name .combatant-control {
  color: white;
}

#sidebar #combat li.combatant .token-resource, .sidebar-popout #combat li.combatant .token-resource {
  color: white;
  border-right: 1px solid white;
}

#sidebar .directory .directory-list .directory-item, .sidebar-popout .directory .directory-list .directory-item {
  border-color: #a5ceff;
  padding: .25rem;
}

#sidebar .directory .directory-list .directory-item img, .sidebar-popout .directory .directory-list .directory-item img {
  border: 2px solid #a5ceff;
  border-radius: 7px;
}

#sidebar .directory .directory-list .scene, .sidebar-popout .directory .directory-list .scene {
  border-top: 2px solid #a5ceff;
  border-bottom: 2px solid #a5ceff;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: 0 0 20px #a5ceff inset;
  box-shadow: 0 0 20px #a5ceff inset;
}

#controls ol.control-tools > li {
  background: #2f82d488;
}

#players {
  background: #2f82d488;
}

#players #player-list span {
  color: white;
}

#players #player-list span.player-name.self {
  color: white;
  text-shadow: 0 0 5px #ffffff;
  text-decoration: underline;
}

#hotbar .macro {
  background: #2f82d488;
  color: white;
  border: 1px solid #a5cdff83;
}

#hotbar .macro #hotbar .macro.inactive {
  -webkit-box-shadow: 0 0 5px #686868 inset;
  box-shadow: 0 0 5px #686868 inset;
}

#hotbar .macro .macro-key {
  background: #012f68;
}

#hotbar .bar-controls {
  background: #2f82d488;
  color: white;
}

#navigation #scene-list .scene.nav-item {
  background: #2f81d4c0;
  color: white;
  border: 1px solid #a5ceff;
}

.sheet.user-config > * {
  color: white;
}

.sheet.user-config .window-content {
  background: -o-repeating-linear-gradient(bottom, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), -o-repeating-linear-gradient(bottom, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background: repeating-linear-gradient(to top, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background-color: #5993d5c5;
  border: none;
  font-family: var(--main-font);
  scrollbar-color: #2694d4 #1d6e9c;
  border: solid 2px #a5ceff;
  -webkit-box-shadow: 0 0 12px #6c91be;
  box-shadow: 0 0 12px #6c91be;
}

.sheet.user-config .window-content button {
  color: white;
  border-color: white;
}

.sheet.user-config .window-content img {
  border: solid 2px #a5ceff;
}

.sheet.user-config .actor.directory-item {
  border: solid 2px #a5ceff;
  margin: 3px 0;
}

.active.sidebar-tab .chat-message:last-of-type {
  -webkit-animation-name: 'message-highlight';
  animation-name: 'message-highlight';
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.message-highlight {
  -webkit-animation-name: 'message-highlight';
  animation-name: 'message-highlight';
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes message-highlight {
  0% {
    -webkit-box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
    box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
  }
  100% {
    -webkit-box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
    box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
  }
}

@keyframes message-highlight {
  0% {
    -webkit-box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
    box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
  }
  100% {
    -webkit-box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
    box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
  }
}
