:root{
    --sidebar-tab-height: 32px;
    --sidebar-tab-width: 24px;
    --color-border-highlight: #ffffff;
    --color-shadow-primary:  #9fdcff;

    --color-text-light-highlight: white;
    --color-border-highlight-alt: #9fdcff;
    --color-border-light-primary: #9fdcff;
    --color-shadow-highlight: white;

    --color-text-light-primary: white;
}

@import 'general/typography';
@import 'general/animations';
@import 'components/sheets';
@import 'components/item-cards';
@import 'panels/main'

