@keyframes artifact-animation {
    from {
      bottom: -20%;
      opacity: 0.3;
    }
    to {
      bottom: 100%;
      opacity: 0.45;
    }
  }

  @keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    15%{
      opacity: 0;
    }
    100% {
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
}

@keyframes fadeMeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeMeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
