.app {
  background: unset;
}

.window-app.dialog .window-content {
  background: -o-repeating-linear-gradient(bottom, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), -o-repeating-linear-gradient(bottom, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background: repeating-linear-gradient(to top, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background-color: #5993d5c5;
  border: none;
  font-family: var(--main-font);
  scrollbar-color: #2694d4 #1d6e9c;
  border: solid 2px #a5ceff;
  -webkit-box-shadow: 0 0 12px #6c91be;
  box-shadow: 0 0 12px #6c91be;
}

.window-app.dialog .window-content * {
  color: white;
}

.window-app.dialog .window-content input::-webkit-input-placeholder {
  color: white;
}

.window-app.dialog .window-content input::-moz-placeholder {
  color: white;
}

.window-app.dialog .window-content input:-ms-input-placeholder {
  color: white;
}

.window-app.dialog .window-content input::-ms-input-placeholder {
  color: white;
}

.window-app.dialog .window-content input::placeholder {
  color: white;
}

header.window-header {
  background: #001a3ab8;
  color: white;
}

#sidebar, .sidebar-popout {
  background: -o-repeating-linear-gradient(bottom, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), -o-repeating-linear-gradient(bottom, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background: repeating-linear-gradient(to top, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background-color: #5993d5c5;
  border: none;
  font-family: var(--main-font);
  scrollbar-color: #2694d4 #1d6e9c;
  border: solid 2px #a5ceff;
  -webkit-box-shadow: 0 0 12px #6c91be;
  box-shadow: 0 0 12px #6c91be;
}

#sidebar a, #sidebar p, #sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, .sidebar-popout a, .sidebar-popout p, .sidebar-popout h1, .sidebar-popout h2, .sidebar-popout h3, .sidebar-popout h4 {
  color: white;
}

#sidebar #sidebar-tabs .item, .sidebar-popout #sidebar-tabs .item {
  border-radius: 0;
}

#sidebar #settings button, .sidebar-popout #settings button {
  background: #001a3a52;
  color: white;
}

#sidebar #settings h2, .sidebar-popout #settings h2 {
  border-top-color: #a5ceff;
  border-bottom-color: #a5ceff;
}

#sidebar .directory-header button, .sidebar-popout .directory-header button {
  background: #001a3a52;
  color: white;
}

#sidebar .directory-header input[type='text'], #sidebar .directory-header .header-search input, .sidebar-popout .directory-header input[type='text'], .sidebar-popout .directory-header .header-search input {
  border: solid 1px #a5ceff;
  background: #001a3a52;
  color: white;
}

#sidebar .directory-header input[type='text']::-webkit-input-placeholder, #sidebar .directory-header .header-search input::-webkit-input-placeholder, .sidebar-popout .directory-header input[type='text']::-webkit-input-placeholder, .sidebar-popout .directory-header .header-search input::-webkit-input-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']::-moz-placeholder, #sidebar .directory-header .header-search input::-moz-placeholder, .sidebar-popout .directory-header input[type='text']::-moz-placeholder, .sidebar-popout .directory-header .header-search input::-moz-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']:-ms-input-placeholder, #sidebar .directory-header .header-search input:-ms-input-placeholder, .sidebar-popout .directory-header input[type='text']:-ms-input-placeholder, .sidebar-popout .directory-header .header-search input:-ms-input-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']::-ms-input-placeholder, #sidebar .directory-header .header-search input::-ms-input-placeholder, .sidebar-popout .directory-header input[type='text']::-ms-input-placeholder, .sidebar-popout .directory-header .header-search input::-ms-input-placeholder {
  color: white;
}

#sidebar .directory-header input[type='text']::placeholder, #sidebar .directory-header .header-search input::placeholder, .sidebar-popout .directory-header input[type='text']::placeholder, .sidebar-popout .directory-header .header-search input::placeholder {
  color: white;
}

#sidebar .sidebar-tab .chat-message, .sidebar-popout .sidebar-tab .chat-message {
  background: #001a3a52;
  border: 2px solid #6189b9 !important;
  color: white;
  margin: 10px 3px;
  -webkit-box-shadow: 0 0 12px #06679e,  0 0 6px #083047;
  box-shadow: 0 0 12px #06679e,  0 0 6px #083047;
}

#sidebar .sidebar-tab .chat-message span, #sidebar .sidebar-tab .chat-message .dice-tooltip span, #sidebar .sidebar-tab .chat-message .dice-tooltip .part-header, .sidebar-popout .sidebar-tab .chat-message span, .sidebar-popout .sidebar-tab .chat-message .dice-tooltip span, .sidebar-popout .sidebar-tab .chat-message .dice-tooltip .part-header {
  color: white;
  border-color: #a5ceff;
}

#sidebar .sidebar-tab .chat-message .dice-tooltip .dice-rolls .roll, .sidebar-popout .sidebar-tab .chat-message .dice-tooltip .dice-rolls .roll {
  color: white;
  text-shadow: 2px 2px 2px black;
  width: 36px;
  height: 36px;
  background-size: 100%;
  line-height: 34px;
}

#sidebar .sidebar-tab .chat-message h4, .sidebar-popout .sidebar-tab .chat-message h4 {
  color: white;
}

#sidebar .sidebar-tab .chat-message h4.message-sender, .sidebar-popout .sidebar-tab .chat-message h4.message-sender {
  font-family: var(--main-heading-font);
  letter-spacing: 1px;
}

#sidebar .sidebar-tab .chat-message .dice-result > *, .sidebar-popout .sidebar-tab .chat-message .dice-result > * {
  border-color: #a5ceff;
}

#sidebar .sidebar-tab #chat-controls .roll-type-select, .sidebar-popout .sidebar-tab #chat-controls .roll-type-select {
  color: white;
  background: #001a3a52;
  background-color: #001a3a52;
}

#sidebar .sidebar-tab #chat-controls .roll-type-select optgroup, .sidebar-popout .sidebar-tab #chat-controls .roll-type-select optgroup {
  background: #001a3a52;
  background-color: #001a3a52;
}

#sidebar .sidebar-tab #chat-controls .roll-type-select optgroup option, .sidebar-popout .sidebar-tab #chat-controls .roll-type-select optgroup option {
  background: #001a3a52;
  background-color: #001a3a52;
}

#sidebar .sidebar-tab #chat-form textarea, .sidebar-popout .sidebar-tab #chat-form textarea {
  background: none;
  background-color: #5993d583;
  color: white;
  font-family: var(--main-font);
  font-size: var(--font-size-16);
}

#sidebar .sidebar-tab #chat-form textarea:focus, .sidebar-popout .sidebar-tab #chat-form textarea:focus {
  -webkit-box-shadow: 0 0 12px #06679e,  0 0 6px #a0dcff;
  box-shadow: 0 0 12px #06679e,  0 0 6px #a0dcff;
  border-color: #a5ceff;
}

#sidebar #combat #combat-round .encounters a, #sidebar #combat #combat-round .encounters h4, .sidebar-popout #combat #combat-round .encounters a, .sidebar-popout #combat #combat-round .encounters h4 {
  color: white;
}

#sidebar #combat li.combatant .token-name .combatant-control, .sidebar-popout #combat li.combatant .token-name .combatant-control {
  color: white;
}

#sidebar #combat li.combatant .token-resource, .sidebar-popout #combat li.combatant .token-resource {
  color: white;
  border-right: 1px solid white;
}

#sidebar .directory .directory-list .directory-item, .sidebar-popout .directory .directory-list .directory-item {
  border-color: #a5ceff;
  padding: .25rem;
}

#sidebar .directory .directory-list .directory-item img, .sidebar-popout .directory .directory-list .directory-item img {
  border: 2px solid #a5ceff;
  border-radius: 7px;
}

#sidebar .directory .directory-list .scene, .sidebar-popout .directory .directory-list .scene {
  border-top: 2px solid #a5ceff;
  border-bottom: 2px solid #a5ceff;
  border-left: none;
  border-right: none;
  -webkit-box-shadow: 0 0 20px #a5ceff inset;
  box-shadow: 0 0 20px #a5ceff inset;
}

#controls ol.control-tools > li {
  background: #2f82d488;
}

#players {
  background: #2f82d488;
}

#players #player-list span {
  color: white;
}

#players #player-list span.player-name.self {
  color: white;
  text-shadow: 0 0 5px #ffffff;
  text-decoration: underline;
}

#hotbar .macro {
  background: #2f82d488;
  color: white;
  border: 1px solid #a5cdff83;
}

#hotbar .macro #hotbar .macro.inactive {
  -webkit-box-shadow: 0 0 5px #686868 inset;
  box-shadow: 0 0 5px #686868 inset;
}

#hotbar .macro .macro-key {
  background: #012f68;
}

#hotbar .bar-controls {
  background: #2f82d488;
  color: white;
}

#navigation #scene-list .scene.nav-item {
  background: #2f81d4c0;
  color: white;
  border: 1px solid #a5ceff;
}

.sheet.user-config > * {
  color: white;
}

.sheet.user-config .window-content {
  background: -o-repeating-linear-gradient(bottom, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), -o-repeating-linear-gradient(bottom, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background: repeating-linear-gradient(to top, rgba(21, 102, 194, 0.3), rgba(21, 102, 194, 0.3) 6px, rgba(117, 218, 255, 0.3) 3px, rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top, rgba(41, 93, 227, 0.15), rgba(41, 93, 227, 0.15) 2px, rgba(14, 52, 150, 0.15) 2px, rgba(14, 52, 150, 0.15) 4px);
  background-color: #5993d5c5;
  border: none;
  font-family: var(--main-font);
  scrollbar-color: #2694d4 #1d6e9c;
  border: solid 2px #a5ceff;
  -webkit-box-shadow: 0 0 12px #6c91be;
  box-shadow: 0 0 12px #6c91be;
}

.sheet.user-config .window-content button {
  color: white;
  border-color: white;
}

.sheet.user-config .window-content img {
  border: solid 2px #a5ceff;
}

.sheet.user-config .actor.directory-item {
  border: solid 2px #a5ceff;
  margin: 3px 0;
}

.active.sidebar-tab .chat-message:last-of-type {
  -webkit-animation-name: 'message-highlight';
  animation-name: 'message-highlight';
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.message-highlight {
  -webkit-animation-name: 'message-highlight';
  animation-name: 'message-highlight';
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes message-highlight {
  0% {
    -webkit-box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
    box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
  }
  100% {
    -webkit-box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
    box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
  }
}

@keyframes message-highlight {
  0% {
    -webkit-box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
    box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
  }
  100% {
    -webkit-box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
    box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
  }
}
