

<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
{{log actor}}
  {{!-- Sheet Header --}}
  <main class="stance-body">
    <section class="tab character-sheet">
      <div class="container">
        <header class="sheet-header">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200" />

          <div class='sub-container'>
            <div class='label-container character-form character-name row-item'>
              <label for='characterName'>Character</label>
              <input name="name" id="characterName" type="text" value="{{actor.name}}" placeholder="Name" />
            </div>

            <div class='label-container character-form character-level row-item'>
              <label for='characterLevel'>Level</label>
              <input name="data.attributes.characterLevel" id="characterLevel" type="text" value="{{data.attributes.characterLevel}}"
                placeholder="Level" />
            </div>

            <div class='label-container character-form row-item' data-item-id={{species}}>
              <label for='speciesName'>Species</label>
              <input name="data.attributes.speciesName" id="speciesName" type="text" value="{{data.attributes.speciesName}}"
                placeholder="species" />
            </div>

            <div class='label-container character-form row-item'>
              <label for='characterPerc'>Perc</label>
              <input name="" id="topLevelPerception" type="text" value="" placeholder="0" />
            </div>

            <div class='label-container character-form row-item'>
              <label for='characterInit'>init</label>
              <input name="" id="topLevelInit" type="text" value="" placeholder="0" />
            </div>

            <div class='label-container character-form row-item '>
              <label for='characterBA'>BA</label>
              <input name="data.attributes.baseAttack" id="characterBA" type="text" value="{{data.attributes.baseAttack}}"
                placeholder="0" />
            </div>

            <div class='label-container character-form row-item'>
              <label for='characterSpeed'>Speed</label>
              <input name="" id="characterSpeed" type="text" value="" placeholder="0" />
            </div>

            <div class='label-container character-form row-item highlight'>
              <label for='fortDef'>Fort</label>
              <input name="data.ref" id="fortDef" type="text" value="{{ data.fort }}" placeholder="{{ data.fort }}">
            </div>

            <div class='label-container character-form row-item highlight'>
              <label for='refDef'>Ref</label>
              <input name="data.ref" id="refDef" type="text" value="{{ data.ref }}" placeholder="{{ data.ref }}">
            </div>

            <div class='label-container character-form row-item highlight'>
              <label for='willDef'>Will</label>
              <input name="data.will" id="willDef" type="text" value="{{ data.will }}" placeholder="{{ data.will }}">
            </div>
          </div>

          <div class='sub-container'>
            <div class='label-container hitpoints row-item'>
              <label for='hitpoints'>HP</label>
              <input name="data.attributes.hp.value" id="hitpoints" type="text" value="{{data.attributes.hp.value}}"
                placeholder="{{data.attributes.hp.value}}" />
            </div>

            <div class='label-container condition row-item'>
              <label for='condition'>Cond</label>
              <select name="data.attributes.condition" id="condition" type="text" placeholder="{{data.attributes.condition}}">
                {{#select data.attributes.condition}}
                  <option value="Normal">Normal</option>
                  <option value="-1">-1</option>
                  <option value="-2">-2</option>
                  <option value="-5">-5</option>
                  <option value="-10">-10</option>
                  <option value="Helpless">Helpless</option>
                {{/select}}
              </select>

            </div>

            <div class='label-container shieldReduction row-item'>
              <label for='shieldReduction'>SR</label>
              <input name="" id="shieldReduction" type="text" value="" placeholder="" />
            </div>

            <div class='label-container damageReduction row-item'>
              <label for='damageReduction'>DR</label>
              <input name="" id="damageReduction" type="text" value="" placeholder="" />
            </div>

            <div class='label-container threshold row-item'>
              <label for='threshold'>DT</label>
              <input name="n" id="threshold" type="text" value="" placeholder="" />
            </div>
          </div>
        </header>

        <section class='stat-block'>
          <div>
            <div class='label-container character-form'>
              <label for='forcePoint'>Force</label>
              <input name="" id="data.attributes.forcePoint" type="text" value="{{data.attributes.forcePoint}}" placeholder="" />
            </div>

            <div class='label-container character-form '>
              <label for='destinyPoint'>DP</label>
              <input name="data.attributes.destinyPoint" id="destinyPoint" type="text" value="{{data.attributes.destinyPoint}}" placeholder="" />
            </div>
          </div>

          <div class='label-container character-form abilities'>
            <label for='strengthStat'>Strength</label>
            <input name="data.abilities.str.value" id="strengthStat" type="text" value="{{data.abilities.str.value}}" />
            <div class="rollable" data-label='Strength' data-rollType='stats' data-roll="d20+@abilities.str.mod"><span>{{data.abilities.str.mod}}&nbsp;<i class="fas fa-dice-d20"></i></span></div>
          </div>

          <div class='label-container character-form abilities'>
            <label for='dexStat'>Dexterity</label>
            <input name="data.abilities.dex.value"  id="dexStat" type="text" value="{{data.abilities.dex.value}}" />
            <div class="rollable" data-label='Dexterity' data-rollType='stats' data-roll="d20+@abilities.dex.mod"><span>{{data.abilities.dex.mod}}&nbsp;<i class="fas fa-dice-d20"></i></span></div>
          </div>

          <div class='label-container character-form abilities'>
            <label for='conStat'>Constitution</label>
            <input name="data.abilities.con.value" id="conStat" type="text" value="{{data.abilities.con.value}}" />
            <div class="rollable" data-label='Constitution' data-rollType='stats' data-roll="d20+@abilities.con.mod"><span>{{data.abilities.con.mod}}&nbsp;<i class="fas fa-dice-d20"></i></span></div>
          </div>


          <div class='label-container character-form abilities'>
            <label for='intStat'>Intelligence</label>
            <input name="data.abilities.int.value" id="intStat" type="text" value="{{data.abilities.int.value}}" />
            <div class="rollable" data-label='Intelligence' data-rollType='stats' data-roll="d20+@abilities.int.mod"><span>{{data.abilities.int.mod}}&nbsp;<i class="fas fa-dice-d20"></i></span></div>
          </div>

          <div class='label-container character-form abilities'>
            <label for='wisStat'>Wisdom</label>
            <input name="data.abilities.wis.value" id="wisStat" type="text" value="{{data.abilities.wis.value}}" />
            <div class="rollable" data-label='Wisdom' data-rollType='stats' data-roll="d20+@abilities.wis.mod"><span>{{data.abilities.wis.mod}}&nbsp;<i class="fas fa-dice-d20"></i></span></div>
          </div>

          <div class='label-container character-form abilities'>
            <label for='chaStat'>Charisma</label>
            <input name="data.abilities.cha.value" id="chaStat" type="text" value="{{data.abilities.cha.value}}" />
            <div class="rollable" data-label='Charisma' data-rollType='stats' data-roll="d20+@abilities.cha.mod"><span>{{data.abilities.cha.mod}}&nbsp;<i class="fas fa-dice-d20"></i></span></div>
          </div>

          <div class='label-container character-form'>
            <label for='characterLang'>Languages</label>
            <input type='text' name='data.details.languages' id='characterLang' value='{{data.details.languages}}'/>
            {{!-- <div class='pop-up hidden'>
              <input type='checkbox' value='Altirish*' id='Altirish*'>
              <label for='Altirish*'>Altirish*</label>
              <input type='checkbox' value='Anarrese*' id='Anarrese*'>
              <label for='Anarrese*'>Anarrese*</label>
              <input type='checkbox' value='Anzat*' id='Anzat*'>
              <label for='Anzat*'>Anzat*</label>
              <input type='checkbox' value='Arkanian' id='Arkanian'>
              <label for='Arkanian'>Arkanian</label>
              <input type='checkbox' value='Basic' id='Basic'>
              <label for='Basic'>Basic</label>
              <input type='checkbox' value='Binary' id='Binary'>
              <label for='Binary'>Binary</label>
              <input type='checkbox' value='Bocce' id='Bocce'>
              <label for='Bocce'>Bocce</label>
              <input type='checkbox' value='Bothese' id='Bothese'>
              <label for='Bothese'>Bothese</label>
              <input type='checkbox' value='Cerean' id='Cerean'>
              <label for='Cerean'>Cerean</label>
              <input type='checkbox' value='Chadra-Fan*' id='Chadra-Fan*'>
              <label for='Chadra-Fan*'>Chadra-Fan*</label>
              <input type='checkbox' value='Cheunh*' id='Cheunh*'>
              <label for='Cheunh*'>Cheunh*</label>
              <input type='checkbox' value='Dosh' id='Dosh'>
              <label for='Dosh'>Dosh</label>
              <input type='checkbox' value='Dromnyr*' id='Dromnyr*'>
              <label for='Dromnyr*'>Dromnyr*</label>
              <input type='checkbox' value='Durese' id='Durese'>
              <label for='Durese'>Durese</label>
              <input type='checkbox' value='Ebruchese*' id='Ebruchese*'>
              <label for='Ebruchese*'>Ebruchese*</label>
              <input type='checkbox' value='Ewokese*' id='Ewokese*'>
              <label for='Ewokese*'>Ewokese*</label>
              <input type='checkbox' value='Gamorrean' id='Gamorrean'>
              <label for='Gamorrean'>Gamorrean</label>
              <input type='checkbox' value='Gunganese*' id='Gunganese*'>
              <label for='Gunganese*'>Gunganese*</label>
              <input type='checkbox' value='High Galactic' id='High Galactic'>
              <label for='High Galactic'>High Galactic</label>
              <input type='checkbox' value='Huttese' id='Huttese'>
              <label for='Huttese'>Huttese</label>
              <input type='checkbox' value='Ithorese' id='Ithorese'>
              <label for='Ithorese'>Ithorese</label>
              <input type='checkbox' value='Jawa Trade Language*' id='Jawa Trade Language*'>
              <label for='Jawa Trade Language*'>Jawa Trade Language*</label>
              <input type='checkbox' value='Kel Dor' id='Kel Dor'>
              <label for='Kel Dor'>Kel Dor</label>
              <input type='checkbox' value='Killik*' id='Killik*'>
              <label for='Killik*'>Killik*</label>
              <input type='checkbox' value='Kreva' id='Kreva'>
              <label for='Kreva'>Kreva</label>
              <input type='checkbox' value="Mando'a" id='Mandoa'>
              <label for='Mandoa'>Mando'a</label>
              <input type='checkbox' value='Minnisiat (Trade Language)' id='Minnisiat (Trade Language)'>
              <label for='Minnisiat (Trade Language)'>Minnisiat (Trade Language)</label>
              <input type='checkbox' value='Mon Calamarian' id='Mon Calamarian'>
              <label for='Mon Calamarian'>Mon Calamarian</label>
              <input type='checkbox' value='Nikto' id='Nikto'>
              <label for='Nikto'>Nikto</label>
              <input type='checkbox' value='Old Corellian' id='Old Corellian'>
              <label for='Old Corellian'>Old Corellian</label>
              <input type='checkbox' value='Quarrenese' id='Quarrenese'>
              <label for='Quarrenese'>Quarrenese</label>
              <input type='checkbox' value='Rakata**' id='Rakata**'>
              <label for='Rakata**'>Rakata**</label>
              <input type='checkbox' value='Rammocate (Trade Language)' id='Rammocate (Trade Language)'>
              <label for='Rammocate (Trade Language)'>Rammocate (Trade Language)</label>
              <input type='checkbox' value='Rodese' id='Rodese'>
              <label for='Rodese'>Rodese</label>
              <input type='checkbox' value='Ryl' id='Ryl'>
              <label for='Ryl'>Ryl</label>
              <input type='checkbox' value='Shistavanen*' id='Shistavanen*'>
              <label for='Shistavanen*'>Shistavanen*</label>
              <input type='checkbox' value='Shyriiwook' id='Shyriiwook'>
              <label for='Shyriiwook'>Shyriiwook</label>
              <input type='checkbox' value='Sign' id='Sign'>
              <label for='Sign'>Sign</label>
              <input type='checkbox' value='Sign (Military)' id='Sign (Military)'>
              <label for='Sign (Military)'>Sign (Military)</label>
              <input type='checkbox' value='Sluissese*' id='Sluissese*'>
              <label for='Sluissese*'>Sluissese*</label>
              <input type='checkbox' value='Snivvian' id='Snivvian'>
              <label for='Snivvian'>Snivvian</label>
              <input type='checkbox' value='Socorran' id='Socorran'>
              <label for='Socorran'>Socorran</label>
              <input type='checkbox' value='Squibbian*' id='Squibbian*'>
              <label for='Squibbian*'>Squibbian*</label>
              <input type='checkbox' value='Ssi-Ruuvi*' id='Ssi-Ruuvi*'>
              <label for='Ssi-Ruuvi*'>Ssi-Ruuvi*</label>
              <input type='checkbox' value='Sullustese' id='Sullustese'>
              <label for='Sullustese'>Sullustese</label>
              <input type='checkbox' value='Sy Bisti (Trade Language)' id='Sy Bisti (Trade Language)'>
              <label for='Sy Bisti (Trade Language)'>Sy Bisti (Trade Language)</label>
              <input type='checkbox' value='Tibranese*' id='Tibranese*'>
              <label for='Tibranese*'>Tibranese*</label>
              <input type='checkbox' value='Tof*' id='Tof*'>
              <label for='Tof*'>Tof*</label>
              <input type='checkbox' value='Vagaari*' id='Vagaari*'>
              <label for='Vagaari*'>Vagaari*</label>
              <input type='checkbox' value='Verpine*' id='Verpine*'>
              <label for='Verpine'>Verpine</label>
              <input type='checkbox' value='Zabrak' id='Zabrak'>
              <label for='Zabrak'>Zabrak</label>
            </div> --}}
          </div>

          <div class='label-container character-form'>
            <label for='characterCredit'>Credits</label>
            <input name="data.credits" id="characterCredit" type="text" value="{{data.credits}}"
              placeholder="{{data.credits}}" />
          </div>

        </section>

        <section class="character-page">
          <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item active" data-tab="skills"><h4>Skills</h4></a>
            <a class="item" data-tab="force"><h4>Force Powers</h4></a>
            <a class="item" data-tab="inventory"><h4>Inventory</h4></a>
            <a class="item" data-tab="bio"><h4>Bio and Class</h4></a>
          </nav>
          <section class='sheet-body'>
            <section class="tab skills" data-group="primary" data-tab="skills">
              <table>
                <tr>
                  <th>Skill</th>
                  <th>Bonus</th>
                  <th>Modifier</th>
                  <th>Trained?</th>
                </tr>
                {{#each data.skills as |skill id|}}
                <tr data-item-id="{{@key}}" class='item'>
                  <td>{{name}}</td>
                  <td><div data-roll="d20+@skills.{{@key}}.mod" data-label="{{name}}" data-rollType='check' class='rollable skill-roller'><i class="fas fa-dice-d20"></i>&nbsp;{{mod}}</div></td>
                  <td>{{attribute}}</td>
                  <td><input type='checkbox' {{#if trained}}checked{{/if}}></td>
                </tr>
                {{/each}}
              </table>
            </section>

            <section class="tab force" data-group="primary" data-tab="force">
              <h5>Force Suite (unfinished)</h5>
              <div class='force-suite'>
                  {{#each force as |force id|}}
                  {{> "systems/swSaga/templates/item/partials/components/force-card.hbs" force}}
                  {{/each}}
                <button>Refresh All Force Powers</button>
              </div>
            
            </section>

            <section class="tab inventory" data-group="primary" data-tab="inventory">
              <table>
                <tr>
                  <th>Item</th>
                  <th>Type</th>
                  <th>Weight</th>
                  <th>Cost</th>
                  <th></th>
                </tr>
                {{#each weapons as |item id|}}
                <tr class='item-card small item' data-item-id="{{_id}}">
                  {{log item}}
                  <td>{{name}}</td>
                  <td>{{item.data.variety}}</td>
                  <td>{{item.data.weight}}</td>
                  <td>{{item.data.cost}}</td>
                  <td><a class='item-delete'><i class="fas fa-times"></i></td>
                </tr>
                {{/each}}
                
                {{#each armor as |item id|}}
                <tr class='item-card small item' data-item-id="{{_id}}">
                  <td>{{name}}</td>
                  <td>{{item.data.variety}}</td>
                  <td>{{item.data.weight}}</td>
                  <td>{{item.data.cost}}</td>
                  <td><a class='item-delete'><i class="fas fa-times"></i></td>
                </tr>
                {{/each}}

                {{#each consumables as |item id|}}
                <tr class='item-card small item' data-item-id="{{_id}}">
                  <td>{{name}}</td>
                  <td>{{item.data.variety}}</td>
                  <td>{{item.data.weight}}</td>
                  <td>{{item.data.cost}}</td>
                  <td><a class='item-delete'><i class="fas fa-times"></i></td>
                </tr>
                {{/each}}
                
                {{#each equipment as |item id|}}
                <tr class='item-card small item' data-item-id="{{_id}}">
                  <td>{{name}}</td>
                  <td>{{item.data.variety}}</td>
                  <td>{{item.data.weight}}</td>
                  <td>{{item.data.cost}}</td>
                  <td><a class='item-delete'><i class="fas fa-times"></i></td>
                </tr>
                {{/each}}
              </table>
            </section>

            <section class="tab bio" data-group="primary" data-tab="bio">
              <h5>Character Details (unfinished)</h5>
              <div>
                <div class='label-container row-item player-form'>
                  <label for='characterAge'>Age</label>
                  <input type='text' id='characterAge' name='data.details.age' value="{{data.details.age}}" />
                </div>
                <div class='label-container row-item player-form'>
                  <label for='characterGender'>Gender</label>
                  <input type='text' id='characterGender' name='data.details.gender' value="{{data.details.gender}}" />
                </div>
                <div class='label-container row-item player-form'>
                  <label for='characterHeight'>Height</label>
                  <input type='text' id='characterHeight' name='data.details.height' value="{{data.details.height}}"
                    data-dtype="Number" />
                </div>
                <div class='label-container row-item player-form'>
                  <label for='characterWeight'>Weight</label>
                  <input type='text' id='characterWeight' name='data.details.weight' value="{{data.details.weight}}"
                    data-dtype="Number" />
                </div>
              </div>
                <div class='label-container row-item player-form'>
                  <label for='characterDestiny'>Destiny</label>
                  <textarea type='text' id='characterDestiny' name='data.details.destiny'>{{data.details.destiny}}</textarea>
                </div>
                <div class='label-container row-item player-form'>
                  <label for='characterBiography'>Biography</label>
                  <textarea type='text' id='characterBiography' name='data.details.biography'>{{data.details.biography}}</textarea>
                </div>
              <h5>Heroic Classes</h5>

                <div class='label-container row-item classes player-form'>
                  {{#each class as |class id|}}
                  {{> "systems/swSaga/templates/item/partials/components/class-card.hbs" class}}
                  {{/each}}
            
              </div>

            </section>
          </section>
        </section>
     
        <section class='current-equipment'>
          <div class='label-container character-form'>
            <label for='equippedWeapon'>Weapon</label>
            <div id='equippedWeapon'>
              {{#each weapons as |weapon id|}}
              {{> "systems/swSaga/templates/item/partials/components/weapon-card.hbs" weapon}}
              {{/each}}
            </div>
          </div>
          <div class='label-container character-form'>
            <label for='equippedClothing'>Clothing/Armor</label>
            <div id='equippedClothing'>
              {{#each armor as |armor id|}}
              {{> "systems/swSaga/templates/item/partials/components/armor-card.hbs" armor}}
              {{/each}}
            </div>
          </div>
        </section>

        <section class='feats-talents'>
          <div class='label-container character-form'>
            <label for='feats'>Feats</label>
            <div id='feats'>
              {{#each feats as |feat id|}}
              <div class='item-card slim item' data-item-id="{{_id}}">
                <span>{{name}}</span><a class='item-delete'><i class="fas fa-times"></i></a>
              </div>
              {{/each}}
            </div>
          </div>
          <div class='label-container character-form'>
            <label for='talents'>Talents</label>
            <div id='talents'>
              {{#each talents as |talent id|}}
              {{log id}}
              <div class='item-card slim item' data-item-id="{{_id}}">
                <span>{{name}}</span><a class='item-delete'><i class="fas fa-times"></i></a>
              </div>
              {{/each}}
            </div>
          </div>
        </section>
      </div>
    </section>
 </main>
</form>