<div class='item-card big armor-card item' data-item-id={{_id}}
        style="background-image: url('systems/swSaga/icons/item-card-armor.svg'); background-repeat: no-repeat;background-size: contain;" 
>
    <div class="container">
        <div>
            <p>+{{data.refBonus}}</p>
            <p class='item-detail'>Reflex</p>
        </div>
        <p class='item-name'>{{name}}</p>
        <div>
            <p>+{{data.fortDef}}</p>
            <p class='item-detail'>Fortitude</p>
        </div>
    </div>

    
</div>

