<div class='item-card big class-card item' data-item-id={{_id}} 
style="background-image: url('systems/swSaga/icons/item-card-class-{{lowercase name}}.svg'); background-repeat: no-repeat;background-size: contain;"  
>
    <div class="container">
        <p class='item-name'>{{name}}</p>
    </div>
</div>

