<div class='item-card big force-card item'data-item-id={{_id}}
        style="background-image: url('systems/swSaga/icons/item-card-force.svg'); background-repeat: no-repeat;background-size: contain;" 
>
    <div class="container">
        <p class='item-name'>{{name}}</p>
        <p class='item-overview'>{{data.overview}}</p>
    </div>

</div>

