<div class='item-card big weapon-card item' draggable="true" data-item-id={{_id}}
        style="background-image: url('systems/swSaga/icons/item-card-weapon-{{lowercase data.variety}}.svg'); background-repeat: no-repeat;background-size: contain;" 
>
    <div class='container'>
        <div>
            {{log name}}
            <button class='item-roll'       
                data-item-id='{{_id}}'
                data-roll="d20+@abilities.{{data.skillUsed}}.mod+@attributes.baseAttack" 
                data-label='{{name}}'
                data-rollType='attack'>Atk
            </button>
            <p class='item-detail'>d20 {{@abilities.data.skillUsed.mod}} </p>
        </div>

        <p class='item-name'>{{name}}</p>
        
        {{#if (eq data.weaponWield "ranged") }}
        <div>
            <button class='item-damage'
                data-item-id='{{_id}}'
                data-roll= "{{data.damage}} + (@attributes.characterLevel / 2)" 
                data-label='{{name}}'
                data-rollType='attack'>Dmg
            </button>
            <p class='item-detail'>{{data.damage}}</p>
        </div>

        {{/if}} 

         {{#if (eq data.weaponWield "melee") }}
         <div>
            <button class='item-damage'
                data-item-id='{{_id}}'
                data-roll= "{{data.damage}}+ (@attributes.characterLevel / 2) + @abilities.str.mod"
                data-label='{{name}}'
                data-rollType='attack'>Dmg
            </button>
            <p class='item-detail'>{{data.damage}}</p>
         </div>

        {{/if}}
         
    </div>
</div>

