.swsaga.sheet .item-card{
  color: white;
  height: initial;
  p{
    color: white;
  }
  &.big{
    transition: all .2s;
    margin: 0;
    height: 104px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    filter: drop-shadow(2px 2px 2px #a8a8a8);
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
      flex-basis: 50%;
      text-align: center;
      font-weight: 900;
    }
    .item-name{
      margin-top: 1.25rem;
    }
    > div{
      margin: 1rem 0 0 0;
      padding: 0;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      flex-basis: 25%;
      button{
        border: solid 2px white;
        border-radius: 4px;
        color: white;
        width: initial;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: .25rem;
      }
    }
    .item-detail{
      font-weight: 900;
      line-height: 16px;
      margin: 0
    }
  }
  &.armor-card{
    .container{
      div{
        margin-top:0;
      }
    }
  }
  &.force-card{
    p.item-overview{
      display: none;
      opacity: 0;
    }
  }

  // hover styles
  &.weapon-card:hover{
    filter: drop-shadow( 0 0 5px #B44242 );
    z-index: 999999;
  }
  &.armor-card:hover{
    filter: drop-shadow( 0 0 5px #257A8C );
    z-index: 999999;
  }
  &.force-card:hover{
    filter: drop-shadow( 0 0 5px #557DAB );
    z-index: 999999;
    p{
      &.item-name{
        animation-name: 'fadeMeOut';
        animation-duration: .2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        display: none;
      }
      &.item-overview{
        animation-name: 'fadeMeIn';
        animation-duration: .2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        display: block;
      }
    }
  }
  &.class-card:hover{
    filter: drop-shadow(0 0 5px #595959);
    z-index: 999999;
  }
  }
  &.slim{
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;
    background-color: #456d9b;
    width: 45%;
    box-shadow: 2px 2px 2px rgb(117, 117, 117);
    span{
      color: white;
    }
    &:hover{
      background-color: #6997cc;
      cursor: pointer;
    }
    .item-delete{
      color: white;
    }
  }
 
}