.swsaga.sheet{
  scrollbar-color: #2694d4 #1d6e9c;

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  select,
  textarea {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    width: 100%;
    line-height: 180%;
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    height: 100%;
    margin: 0;
  }

  p,
  span,
  button,
  a,
  input,
  select,
  textarea,
  th,
  td {
    font-family: "Verdana";
    color: var(--text-color);
  }

  h5{
    font-size: 1.25rem;
    letter-spacing: .75px;
    margin: 0;
    font-family: var(--main-heading-font);
    color: var(--text-color);
  }

  ::-webkit-scrollbar-thumb {
    border: none;
    background: #2694d4;
    border-radius: none;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 1px #1d6e9c inset;
    box-shadow: 0 0 1px #1d6e9c inset;
    background-color: #1d6e9c;
  }

  ::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1;
    /* Firefox */
  }

  ::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1;
    /* Firefox */
  }

  ::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1;
    /* Firefox */
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text-color);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text-color);
  }

  a:hover {
    text-shadow: none;
  }

  label, h4 {
    font-family: var(--main-heading-font);
    letter-spacing: 1px;
  }

  h4{
    margin-bottom: 0;
  }

  label {
    color: var(--text-color);
  }
  .window-content {
    background: var(--background-color);
    padding: 1rem;
  }

  h4.window-title {
    color: white;
  }

  form.weapon .item-container .label-container {
    margin: 0.5rem;
  }

  .label-container {
    position: relative;
    border: solid 1px var(--text-color);
    border-radius: 3px;
  }

  .label-container.abilities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .label-container.abilities > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    width: initial;
    text-align: center;
  }

  .label-container label {
    position: absolute;
    line-height: 100%;
    top: -6px;
    left: -2px;
    background: var(--background-color);
    font-size: 0.7rem;
  }



  
.pop-up{
  position: absolute;
  top: 20px;
  width: 400px;
  height: 450px;
}

.hidden{
  display: none;
}
}

.swsaga.sheet > header a{
  color: white;
}
  
.highlight{
  box-shadow: 2px 2px 0px #156594;
}

.actor.swsaga.sheet{
// Actor Sheet
  form{
    &.character{
      width: 100%;
    }
    main{
      section.character-sheet{
        > .container{
          display: grid;
          grid-template-rows: 15px 150px 500px auto auto;
          grid-template-columns: 75px 75px repeat(10, 1fr);
          gap: .5rem;
          header{
            grid-row: 2 / 3;
            grid-column: 1 / 13;
            display: grid;
            gap: .5rem;
            grid-template-rows: 150px auto;
            grid-template-columns: calc(150px + .5rem) auto 50px 200px;
            .row-item {
              -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
              flex: 1 1 auto;
              margin: 0.25rem;
            }
            img {
              grid-row: 1 / 2;
              grid-column: 1 / 2;
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 3px;
              margin: 0;
            }
            .sub-container{
              display: grid;
              gap: .5rem;
              grid-row: 1 / 2;
              grid-column: 3 / 4;
              height: 100%;
              &:first-of-type {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                display: grid;
                gap: .5rem;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                label[for=speciesName] ~ a {
                  grid-row: 2 / 3;
                  grid-column: 1 / 3;
                  display: block;
                  height: 100%;
                  line-height: 160%;
                  /* background: none; */
                  -webkit-box-shadow: none;
                  box-shadow: none;
                  border: none;
                  width: 100%;
                  line-height: 200%;
                  font-size: 1rem;
                  padding: 0.3rem 0.8rem;
                  height: 100%;
                  margin: 0;
                }
                .class-select {
                  grid-row: 2 / 3;
                  grid-column: 3 / 5;
                }
              }
              &:last-of-type {
                grid-row: 1 / 2;
                grid-column: 3 / 5;
                display: grid;
                gap: .5rem;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                .hitpoints {
                  grid-row: 1 / 3;
                  grid-column: 1 / 3;
                  text-align: center;
                  input {
                    height: 100%;
                    font-size: 3.25rem;
                  }
                }
                .shieldReduction {
                  grid-row: 1 / 2;
                  grid-column: 3 / 4;
                }
                .condition {
                  grid-row: 3 / 4;
                  grid-column: 1 / 3;
                }
                .damageReduction {
                  grid-row: 2 / 3;
                  grid-column: 3 / 4;
                }
                .threshold {
                  grid-row: 3 / 4;
                  grid-column: 3 / 4;
                }
              }
            }
            &:first-of-type .character-name {
              grid-row: 1 / 2;
              grid-column: 1 / 4;
            }
            &:first-of-type .character-level {
              grid-row: 1 / 2;
              grid-column: 4 / 5;
            }
          }
          .stat-block{
            grid-row: 3 / 4;
            grid-column: 1 / 3;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            span {
              font-size: 1rem;
              background-color: var(--background-color);
              border-radius: 3px;
              line-height: 200%;
              height: 75%;
              width: 45px;
              z-index: 2;
              cursor: pointer;
            }
            div{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              gap: .5rem;
              height: 45px;
              &:first-of-type {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
              }
              &> div > div > span{
                background-color: var(--text-color);
                color: white;
                &:hover{
                  background-color: white;
                  border: 1px solid var(--text-color);
                  color: var(--text-color);
                }
              }
            }
          }
          .character-page{
            grid-row: 3 / 4;
            grid-column: 3 / 13;
            border: solid 1px var(--text-color);
            border-radius: 3px;
            padding: 0 1rem;
            nav.tabs {
              border-top: none;
              border-bottom-color: var(--text-color);
              .item.active {
                text-shadow: 0 0 10px #2694d4;
              }
              .item:hover {
                text-shadow: 0 0 10px #2694d4;
              }
            }
            .tab.active{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              height: 100%;
              p{
                margin: 4px 0;
              }
            
            }
            .sheet-body {
              height: calc(100% - 38px);
              overflow: hidden;
              .tab{
                padding-top: 1rem;
                h5{
                  margin-bottom: .5rem;
                }
              }
              .skills {
                height: 100%;
                overflow-y: scroll;
                font-size: .75rem;
                table {
                  border: none;
                  th {
                    text-align: left;
                  }
                  tr:nth-child(even) {
                    border: 1px solid var(--background-color);
                  }
                  tr:nth-child(odd) {
                    border: 1px solid var(--background-color);
                  }
                }
                .skill-roller{
                  display: block;
                  width: 40px;
                  background-color: var(--text-color);
                  color: white;
                  cursor: pointer;
                  padding: .25rem;
                  border-radius: 3px;
                  &:hover{
                    background-color: white;
                    color: var(--text-color);
                  }
                }
              }
              .force{
                border: 1px solid var(--background-color);
                .force-suite{
                  border: 1px solid var(--background-color);
                  display: flex; 
                  justify-content: center;
                  flex-wrap: wrap;
                  gap: .5rem;
                  button{
                    border: 2px solid var(--text-color);
                    background-color: transparent;
                    &:hover{
                      box-shadow: 0 0 10px #2694d4;
                      border: 2px solid var(--text-color);
                      background-color: transparent;
                    }
                  }
                }
              }
              .bio{
                overflow-y: hidden;
                display: flex;
                flex-direction: column;
                gap: .75rem;
                &.active{
                  overflow-y: auto;
                }
                & > div{
                  display: flex;
                  gap: .75rem;
                  .label-container{
                    flex-basis: 25%;
                  }
                }
                .classes{
                  display: flex;
                  flex-direction: column;
                  border: none;
                  &.row-item{
                    display: flex;
                    justify-content: space-between;
                    .item-edit{
                      flex-basis: 100%;
                    }
                    .item-delete{
                      flex-basis: 10%;
                      text-align: center;
                      transition: background-color .2s ease, color .2s ease;
                      &:hover{
                        background-color: #156594;
                        color: white;
                      }
                    }
                  }
                }
              }
            } 
          }
          .current-equipment{
            grid-row: 4 / 5;
            grid-column: 1 / 13;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: .5rem;          
            min-height: 180px;
            .label-container{
              padding: 1rem;
              width: 100%;
              #equippedWeapon{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
                flex-wrap: wrap;
              }
              #equippedClothing{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
                flex-wrap: wrap;
              }
            }
          }
          .feats-talents {
            grid-row: 5 / 6;
            grid-column: 1 / 13;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: .5rem;
            min-height: 180px;
            & > div{
              min-height: 80px;
              padding: 1rem;
              width: 50%;
              & > div{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: .5rem;
                > div{
                  transition: all .2s ease; 
                }
              }
            }
          }
       }
    }
  }
}}




  // ITEMS
  .item.swsaga.sheet{
    form{
      display: grid;
      grid-template-columns: 255px 75px auto;
      grid-template-rows: 75px 135px 135px;
      gap: 1rem;
    }

    .window-content header{
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      display: flex;
    }

    .to-hit, .weapon-damage{
      font-family: var(--main-heading-font);
      font-size: 1.25rem
    }

    .to-hit span, .weapon-damage span{
      font-family: var(--main-font);
      font-size: 1.25rem
    }

    .window-content header .header-fields{
      display: flex;
      justify-content: space-between; 
      h5{
        margin: 0;
        input{
        font-size: 2.5rem;
        font-family: var(--main-heading-font);
        padding-left: 0;
        }
      }
      .label-container{
        max-width: 150px;
      }
    }

    .window-content header .header-fields > div{
      display: flex;
      flex-direction: column;
      gap: .25rem;
      width: initial;
      flex: 1;
    }

    .window-content header .header-fields > div > div{
      display: flex;
      gap: .25rem;
    }

    .window-content header .header-fields > div:first-of-type{
      flex: 2;
    }

    .attack-damage{
      text-align: right;
      flex: 1;
    }

    .image-container{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      overflow: hidden;
    }

    .at-a-glance{
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      div{
        display: flex;
        gap: .25rem;
      }
    }

    .description-fields{
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      display: flex;
      gap: 1rem;
      justify-content: space-evenly;
    }

    .description-fields .description-details{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: .25rem;
    }

    .description-fields .description-field{
      display: flex;
      flex: 2;
    }

    .usability-details{
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }


} 

.item.swsaga.sheet form.class{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 30px);
  header{
    grid-row: 1 / 2;
    grid-column: 1 / 13;
  }
  .image-container{
    grid-row: 2 / 5;
    grid-column: 1 / 4;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .hitDice{
    grid-row: 2 / 3;
    grid-column: 4 / 6;
  }
  .startHP{
    grid-row: 2 / 3;
    grid-column: 6 / 8;
  }
  .fortBonus{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
  }
  .refBonus{
    grid-row: 4 / 5;
    grid-column: 5 / 6;
  }
  .willBonus{
    grid-row: 4 / 5;
    grid-column: 6 / 7;
  }
  .forcePoints{
    grid-row: 3 / 4;
    grid-column: 6 / 8;
  }
  .baseAttack{
    grid-row: 4 / 5;
    grid-column: 7 / 8;
  }
  .startingCredits{
    grid-row: 3 / 4;
    grid-column: 4 / 6;
  }
  .description-field{
    grid-row: 2 / 5;
    grid-column: 8 / 13; 
  }
  .progression{
    grid-row: 5 / 13;
    grid-column: 1 / 8;
  }
  .trained-skills{
    grid-row: 5 / 9;
    grid-column: 8 / 13;
  }
  .starting-feats{
    grid-row: 9 / 13;
    grid-column: 8 / 13;
  }
  .talent-trees{
    grid-row: 13 / 17;
    grid-column: 1 / 13;
  }
}

.item.swsaga.sheet form.species{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 30px);
  header{
    grid-row: 1 / 2;
    grid-column: 1 / 13;
  }
  .image-container{
    grid-row: 2 / 5;
    grid-column: 1 / 4;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .homeworld{
    grid-row: 2 / 3;
    grid-column: 4 / 8;
  }
  .speed{
    grid-row: 3 / 4;
    grid-column: 4 / 6;
  }
  .size{
    grid-row: 3 / 4;
    grid-column: 6 / 8;
  }
  .ex_names{
    grid-row: 4 / 6;
    grid-column: 4 / 6;
  }
  .languages{
    grid-row: 4 / 6;
    grid-column: 6 / 8;
  }
  .modifiers{
    grid-row: 5 / 6;
    grid-column: 1 / 4; 
  }
  .ageGroup{
    grid-row: 6 / 7;
    grid-column: 1 / 8;
  }
  .personality{
    grid-row: 2 / 6;
    grid-column: 8 / 13;
  }
  .traits{
    grid-row: 6 / 11;
    grid-column: 8 / 13;
  }
  .species_feats{
    grid-row: 11 / 14;
    grid-column: 8 / 13;
  }
  .description{
    grid-row: 7 / 14;
    grid-column: 1 / 8; 
  }
  .adventurers{
    grid-row: 14 / 17;
    grid-column: 1 / 13;
  }
}

 form.minimal-sheet{
  display: grid;
  grid-template-columns: 255px 75px auto;
  grid-template-rows: 75px 135px auto;
  gap: 1rem;
  header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    .header-extra{
      display: flex;
      .label-container:not(:first-of-type){
        width: 75px;
      }
      .label-container.prereq-field{
        width: initial;
      }
    }
  }
  .image-container{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .description-field{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }
}

form.forcePower.minimal-sheet{
  .overview-field{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }
  .description-field{
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }
}


// journal 

.journal-sheet{
  .window-content{
    background: repeating-linear-gradient(to top,
    rgba(21, 102, 194, 0.3),
    rgba(21, 102, 194, 0.3) 6px,
    rgba(117, 218, 255, 0.3) 3px,
    rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top,
    rgba(41, 93, 227, 0.15),
    rgba(41, 93, 227, 0.15) 2px,
    rgba(14, 52, 150, 0.15) 2px,
    rgba(14, 52, 150, 0.15) 4px);
    background-color: #5993d583;
    border: none;
    font-family: var(--main-font);
    scrollbar-color:  #2694d4 #1d6e9c;
    border: solid 2px #a5ceff;
    box-shadow: 0 0 12px #6c91be;
    color: white;
    input, select, button, span, p, a, h1, h2, h3, h4, h5{ 
      color: white;
    }
    input, select, button{
      border: solid 2px #a5ceff;
      background-color: #001a3a52;
    }
  }
}