<form class="{{item.type}}" autocomplete="off">
  
  <header class="sheet-header">
    <div class="header-fields">
      <div>
        <h5><input name="name" id="itemName" type="text" value="{{item.name}}" placeholder="Name"/></h5>
      </div>
    </div>
  </header>

  <div class="image-container">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
  </div>

        <div class='label-container hitDice'>
          <label for='hitDice'>{{localize 'swSaga.class.hitDice' }}</label>
          <input id='hitDice' name="data.hitDice" type='text' value="{{data.hitDice}}"/>
        </div>

        <div class='label-container startHP'>
          <label for='startHP'>{{localize 'swSaga.class.startHP' }}</label>
          <input id='startHP' name="data.startHP" type='text' value="{{data.startHP}}"/>
        </div>

        <div class='label-container fortBonus'>
          <label for='fortBonus'>FORT</label>
          <input id='fortBonus' name="data.defBonus.fort" type='text' value="{{data.defBonus.fort}}"/>
        </div>
        <div class='label-container refBonus'>
          <label for='refBonus'>REF</label>
          <input id='refBonus' name="data.defBonus.ref" type='text' value="{{data.defBonus.ref}}"/>
        </div>
        <div class='label-container willBonus'>
          <label for='willBonus'>WILL</label>
          <input id='willBonus' name="data.defBonus.will" type='text' value="{{data.defBonus.will}}"/>
        </div>

        <div class='label-container baseAttack'>
          <label for='baseAttack'>BA</label>
          <input id='baseAttack' name="data.baseAttack" type='text' value="{{data.baseAttack}}"/>
        </div>

        <div class='label-container forcePoints'>
          <label for='forcePoints'>{{localize 'swSaga.class.forcePoints' }}</label>
          <input id='forcePoints' name="data.forcePoints" type='text' value="{{data.forcePoints}}"/>
        </div>
        <div class='label-container startingCredits'>
          <label for='startingCredits'>{{localize "swSaga.class.startingCredits" }}</label>
          <input id='startingCredits' name="data.startingCredits" type='text' value="{{data.startingCredits}}"/>
        </div>
      
      <div class='label-container description-field'>
        <label for='classDescription'>{{localize "swSaga.item.description" }}</label>
        <textarea id='classDescription' name=""></textarea>
      </div>


  <div class='label-container progression'>
    <label for='progression'>{{localize 'swSaga.class.progression' }}</label>
    <table>
      <tr>
        <th>Class Level</th>
        <th>Base Attack Bonus</th>
        <th>Class Features</th>
      </tr>
      {{#each data.skills as |skill id|}}
        <tr data-item-id="{{@key}}" class='item'>
          <td>1</td>
          <td>+1</td>
          <td>Defense Bonus, Lightsaber, Starting Feats, Talent</td>
        </tr>
      {{/each}}
    </table>
  </div>

  <div class='label-container trained-skills'>
    <label for='trainedSkills'>{{localize 'swSaga.class.trainedSkills' }}</label>
    <input id='trainedSkills' name="data.trainedSkills" type='text' value="{{data.trainedSkills}}"/>
  </div>
  
  <div class='label-container starting-feats'>
    <label for='startFeats'>{{localize 'swSaga.class.startFeats' }}</label>
    <input id='startFeats' name="data.startFeats" type='text' value="{{data.startFeats}}"/>
  </div>
  <div class='label-container talent-trees'>
    <label for='talentTrees'>{{localize "swSaga.class.talentTrees" }}</label>
    <input id='talentTrees' name="data.talentTrees" type='text' value="{{data.talentTrees}}"/>
  </div>

</form>