<form class="{{item.type}}" autocomplete="off">
  
  <header class="sheet-header">
    <div class="header-fields">
      <div>
        <h5><input name="name" id="itemName" type="text" value="{{item.name}}" placeholder="Name"/></h5>
      </div>
    </div>
  </header>

  <div class="image-container">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
  </div>

  <div class='label-container homeworld'>
    <label for='homeworld'>{{localize 'swSaga.species.homeworld' }}</label>
    <input id='homeworld' name="data.homeworld" type='text' value="{{data.homeworld}}"/>
  </div>

  <div class='label-container ageGroup'>
    <label for='ageGroup'>{{localize 'swSaga.species.ageGroup' }}</label>
    <input id='ageGroup' name="data.ageGroup" type='text' value="{{data.ageGroup}}"/>
  </div>

  <div class='label-container speed'>
    <label for='speed'>{{localize 'swSaga.species.speed' }}</label>
    <input id='speed' name="data.speed" type='text' value="{{data.speed}}"/>
  </div>

  <div class='label-container size'>
    <label for='size'>{{localize 'swSaga.species.size' }}</label>
    <input id='size' name="data.size" type='text' value="{{data.size}}"/>
  </div>

  <div class='label-container ex_names'>
    <label for='languages'>{{localize 'swSaga.species.ex_names' }}</label>
    <input id='ex_names' name="data.ex_names" type='text' value="{{data.ex_names}}"/>
  </div>

  <div class='label-container languages'>
    <label for='languages'>{{localize 'swSaga.species.languages' }}</label>
    <input id='languages' name="data.languages" type='text' value="{{data.languages}}"/>
  </div>

  <div class='label-container modifiers'>
    <label for='modifiers'>{{localize 'swSaga.species.modifiers' }}</label>
    <input id='modifiers' name="data.modifiers" type='text' value="{{data.modifiers}}"/>
  </div>

  <div class='label-container traits'>
    <label for='traits'>{{localize 'swSaga.species.traits' }}</label>
    <input id='traits' name="data.traits" type='text' value="{{data.traits}}"/>
  </div>

  <div class='label-container species_feats'>
    <label for='speciesFeats'>{{localize 'swSaga.species.feats' }}</label>
    <textarea id='speciesFeats' name="data.feats">{{data.personality}}</textarea>
  </div>

  <div class='label-container description'>
    <label for='speciesDescription'>{{localize "swSaga.item.description" }}</label>
    <textarea id='speciesDescription' name='data.description'>{{data.description}}</textarea>
  </div>

  <div class='label-container personality'>
    <label for='personality'>{{localize 'swSaga.species.personality' }}</label>
    <textarea id='personality' name="data.personality">{{data.personality}}</textarea>
  </div>
  
  <div class='label-container adventurers'>
    <label for='adventurers'>{{localize 'swSaga.species.adventurers' }}</label>
    <textarea id='adventurers' name="data.adventurers">{{data.adventurers}}</textarea>
  </div>

</form>

{{log data}}