<form class="{{item.type}}" autocomplete="off">

{{!-- =============================================== --}}
{{!-- =============================================== --}}
{{!-- =================== WEAPON ==================== --}}

  {{#if (eq item.type "weapon")}} 
  {{log sheetData}}
  <header class="sheet-header">
    <div class="header-fields">
      <div>
        <h5><input name="name" id="itemName" type="text" value="{{item.name}}" placeholder="Name"/></h5>
        <div>
          <div class='label-container'>
            <label for='weaponType'>{{localize "swSaga.item.variety" }}</label>
            <input id='weaponType' name="data.variety" type='text' value="{{data.variety}}"/>
          </div>
          {{#if data.stunSetting}}
          <div class='label-container'>
            <label for='stunSetting'>{{localize "swSaga.weapon.hasStun" }}</label>
            <input id='stunSetting' name="data.stunSetting" type='text' value="{{data.stunSetting}}"/>
          </div>
          {{/if}}
        </div>
      </div>
      <div>
        <div class='label-container'>
          <label for='weaponWield'>{{localize "swSaga.weapon.weaponWield" }}</label>
          <input id='weaponWield' name="data.weaponWield" type='text' value="{{data.weaponWield}}"/>
        </div>
        
        {{!-- <span class='to-hit'>To Hit <span>'{derived}'</span></span>
        <span class='weapon-damage'>Damage <span>{{data.damage}} + '{derived}'</span></span> --}}
      </div>
    </div>
        
  </header>
          {{!-- Image container --}}
          <div class="image-container">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
          </div>

          {{!-- At a glance stats --}}
          <div class="at-a-glance">
            <div class='label-container'>
              <label for='weaponDamage'>{{localize 'swSaga.weapon.damage' }}</label><input id='weaponDamage' name="data.damage" type='text' value="{{data.damage}}"/>
            </div>
            <div class='label-container'>
              <label for='skillUsed'>{{localize 'swSaga.weapon.skillUsed' }}</label>
                <select id='skillUsed' name="data.skillUsed">
                  {{#select data.skillUsed}}
                  {{#each config.skillUsed as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                  {{/each}}
                  {{/select}}
                </select>
            </div>
          </div>

          {{!-- Description Fields --}}
    <div class='description-fields'>
      <div class='description-details'>
        <div class='label-container'>
          <label for='itemAvailability'>{{localize "swSaga.item.availability" }}</label>
          <input id='itemAvailability' name="data.availability" type='text' value="{{data.availability}}"/>
          </div>
        <div class='label-container'>
          <label for='itemCost'>{{localize "swSaga.item.cost" }}</label>
          <input id='itemCostitemCost' name="data.cost" type='text' value="{{data.cost}}"/>
        </div>
        <div class='label-container'>
          <label for='itemWeight'>{{localize "swSaga.item.weight" }}</label>
          <input id='itemWeight' name="data.weight" type='text' value="{{data.weight}}"/>
        </div>
      </div>
      <div class='label-container description-field'>
        <label for='itemDescription'>{{localize "swSaga.item.description" }}</label>
        <textarea id='itemDescription' name="data.description">{{data.description}}</textarea>
      </div>
    </div>

    <div class='usability-details'>
      <div class='label-container'>
        <label for='itemUse'>{{localize "swSaga.item.use_details" }}</label>
        <textarea id='itemUse' name="data.use_details">{{data.use_details}}</textarea>
      </div>
    </div>
         
  {{/if}}

{{!-- ================= END WEAPON ================== --}}
{{!-- =============================================== --}}
{{!-- =============================================== --}}
{{!-- =================== ARMOR ===================== --}}

  {{#if (eq item.type "armor")}}   

    <header class="sheet-header">
      <div class="header-fields">
        <div>
          <h5><input name="name" id="itemName" type="text" value="{{item.name}}" placeholder="Name"/></h5>
          <div class='label-container'>
            <label for='armorType'>{{localize "swSaga.item.variety" }}</label>
            <input id='armorType' name="data.variety" type='text' value="{{data.variety}}"/>
          </div>
        </div>
        
    </header>

      <div class="image-container">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      {{!-- At a glance stats --}}
      <div class="at-a-glance">
        <div>
          <div class='label-container'>
            <label for='refBonus'>{{localize 'swSaga.armor.refBonus' }}</label>
            <input id='refBonus' name="data.refBonus" type='text' value="{{data.refBonus}}"/>
          </div>
          <div class='label-container'>
            <label for='fortDef'>{{localize 'swSaga.armor.fortDef' }}</label>
            <input id='fortDef' name="data.fortDef" type='text' value="{{data.fortDef}}"/>
          </div>
        </div>
        <div>
          <div class='label-container'>
            <label for='maxDex'>{{localize 'swSaga.armor.maxDex' }}</label>
            <input id='maxDex' name="data.maxDex" type='text' value="{{data.maxDex}}"/>
          </div>
          <div class='label-container'>
            <label for='speedReduction'>{{localize "swSaga.armor.speedReduction" }}</label>
            <input id='speedReduction' name="data.speedReduction" type='text' value="{{data.speedReduction}}"/>
          </div>
        </div>
      </div> 

    <div class='description-fields'>
      <div class='description-details'>
        <div class='label-container'>
          <label for='itemAvailability'>{{localize "swSaga.item.availability" }}</label>
          <input id='itemAvailability' name="data.availability" type='text' value="{{data.availability}}"/>
          </div>
        <div class='label-container'>
          <label for='itemCost'>{{localize "swSaga.item.cost" }}</label>
          <input id='itemCostitemCost' name="data.cost" type='text' value="{{data.cost}}"/>
        </div>
        <div class='label-container'>
          <label for='itemWeight'>{{localize "swSaga.item.weight" }}</label>
          <input id='itemWeight' name="data.weight" type='text' value="{{data.weight}}"/>
        </div>
      </div>
      <div class='label-container description-field'>
        <label for='itemDescription'>{{localize "swSaga.item.description" }}</label>
        <textarea id='itemDescription' name="data.description">{{data.description}}</textarea>
      </div>
    </div>

    <div class='usability-details'>
      <div class='label-container'>
        <label for='itemUse'>{{localize "swSaga.item.use_details" }}</label>
        <textarea id='itemUse' name="data.use_details">{{data.use_details}}</textarea>
      </div>
    </div>
  {{/if}}

</form>