.app{
    background: unset;
}

.window-app.dialog{
    .window-content{
        *{
            color: white;
        }
        input::placeholder{
            color: white;
            
        }
        background: repeating-linear-gradient(to top,
        rgba(21, 102, 194, 0.3),
        rgba(21, 102, 194, 0.3) 6px,
        rgba(117, 218, 255, 0.3) 3px,
        rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top,
        rgba(41, 93, 227, 0.15),
        rgba(41, 93, 227, 0.15) 2px,
        rgba(14, 52, 150, 0.15) 2px,
        rgba(14, 52, 150, 0.15) 4px);
        background-color: #5993d5c5;
        border: none;
        font-family: var(--main-font);
        scrollbar-color:  #2694d4 #1d6e9c;
        border: solid 2px #a5ceff;
        box-shadow: 0 0 12px #6c91be;
    }
}

header.window-header{
    background: #001a3ab8;
    color: white;
}

#sidebar, .sidebar-popout{
    background: repeating-linear-gradient(to top,
    rgba(21, 102, 194, 0.3),
    rgba(21, 102, 194, 0.3) 6px,
    rgba(117, 218, 255, 0.3) 3px,
    rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top,
    rgba(41, 93, 227, 0.15),
    rgba(41, 93, 227, 0.15) 2px,
    rgba(14, 52, 150, 0.15) 2px,
    rgba(14, 52, 150, 0.15) 4px);
    background-color: #5993d5c5;
    border: none;
    font-family: var(--main-font);
    scrollbar-color:  #2694d4 #1d6e9c;
    border: solid 2px #a5ceff;
    box-shadow: 0 0 12px #6c91be;
    a, p, h1, h2, h3, h4{
        color: white;
    }
    #sidebar-tabs{
        .item{
            border-radius: 0;
        }
    }
    #settings{
        button{
            background: #001a3a52;
            color: white;
        }
        h2{
            border-top-color:#a5ceff;
            border-bottom-color: #a5ceff;
        }
    }
    .directory-header{
        button{
            background: #001a3a52;
            color: white;
        }
        input[type='text'], .header-search input{
            border: solid 1px #a5ceff;
            background: #001a3a52;
            color: white;
            &::placeholder{
                color: white;
            }
        }

    }
    .sidebar-tab{
        .chat-message{
            background: #001a3a52;
            border: 2px solid #6189b9 !important;
            color: white;
            margin: 10px 3px;
            box-shadow: 0 0 12px #06679e,  0 0 6px #083047;
            span, .dice-tooltip span, .dice-tooltip .part-header{
                color: white;
                border-color: #a5ceff;
            }
            .dice-tooltip .dice-rolls .roll{
                color: white;
                text-shadow: 2px 2px 2px black;
                width: 36px;
                height: 36px;
                background-size: 100%;
                line-height: 34px;
            }

            h4{
                color: white;
                &.message-sender{
                    font-family: var(--main-heading-font);
                    letter-spacing: 1px;
                }
            }
            .dice-result > *{
                border-color: #a5ceff;
            }
        }
        #chat-controls .roll-type-select{
            color: white;
            background: #001a3a52;
            background-color: #001a3a52;
            optgroup{
                background: #001a3a52; 
                background-color: #001a3a52; 
                option{
                    background: #001a3a52;
                    background-color: #001a3a52;  
                }
            }
    
        }
        #chat-form textarea{
            background: none;
            background-color: #5993d583;
            color: white;
            font-family: var(--main-font);
            font-size: var(--font-size-16);
            &:focus{
                box-shadow: 0 0 12px #06679e,  0 0 6px #a0dcff;
                border-color:#a5ceff;
            }
        }
    
    }
    #combat{
        #combat-round .encounters a, #combat-round .encounters h4{
            color: white;
        }
        li.combatant{
            .token-name .combatant-control{
                color: white;
            }
            .token-resource{
                color: white;
                border-right: 1px solid white;
            }
        }
    } 
    .directory .directory-list{
        .directory-item{
            border-color:#a5ceff;
            padding: .25rem;
        }
        .directory-item img {
            border: 2px solid #a5ceff;
            border-radius: 7px;
        }
        .scene{
            border-top: 2px solid #a5ceff;
            border-bottom: 2px solid #a5ceff;
            border-left: none;
            border-right: none;
            box-shadow: 0 0 20px #a5ceff inset;
        }
    }    
}

#controls ol.control-tools > li {
    background: #2f82d488;
}

#players{
    background: #2f82d488;
    #player-list{
        span{
            color: white;
        
        &.player-name.self{
            color: white;
            text-shadow: 0 0 5px #ffffff;
            text-decoration: underline;
        }
    }
    }
}

#hotbar{
    .macro{
        background: #2f82d488;
        color: white;
        border: 1px solid #a5cdff83;
        #hotbar .macro.inactive {
            box-shadow: 0 0 5px #686868 inset;
        }
        .macro-key{
            background: #012f68;
        }
    }
    .bar-controls {
        background: #2f82d488;
        color: white;
    }
}

#navigation #scene-list{
    .scene.nav-item{
        background: #2f81d4c0;
        color: white;
        border: 1px solid #a5ceff;
    }
} 

.sheet.user-config{
    > *{
        color: white;
    };
    .window-content{
        background: repeating-linear-gradient(to top,
        rgba(21, 102, 194, 0.3),
        rgba(21, 102, 194, 0.3) 6px,
        rgba(117, 218, 255, 0.3) 3px,
        rgba(117, 218, 255, 0.3) 6px), repeating-linear-gradient(to top,
        rgba(41, 93, 227, 0.15),
        rgba(41, 93, 227, 0.15) 2px,
        rgba(14, 52, 150, 0.15) 2px,
        rgba(14, 52, 150, 0.15) 4px);
        background-color: #5993d5c5;
        border: none;
        font-family: var(--main-font);
        scrollbar-color:  #2694d4 #1d6e9c;
        border: solid 2px #a5ceff;
        box-shadow: 0 0 12px #6c91be;
        button{
            color: white;
            border-color: white;
        }
        img{
            border: solid 2px #a5ceff;
        }
    }
    .actor.directory-item{
        border: solid 2px #a5ceff;
        margin: 3px 0;
    }
}

.active.sidebar-tab{
    .chat-message{
        &:last-of-type{
            animation-name: 'message-highlight';
            animation-timing-function: linear;
            animation-duration: .5s;
        }
    }
}

.message-highlight{
    animation-name: 'message-highlight';
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes message-highlight{
    0%{
        box-shadow: 0 0 8px #b3d9ffea, 0 0 5px #77bbff;
    }
    100%{
        box-shadow: 0 0 0 #b3d9ffea, 0 0 0 #77bbff;
    }
}